body {
    margin: 0;
    font-family: sans-serif;
}

/* HEADER */
.main-header {
    display: flex;
    flex-direction: column;
    width: 100%;

    background-color: black;
    color: white;
}
.theme-div {
    width: 100%;
    text-align: center;
}
.options-div {
    display: flex;
}
.menu-option {
    width: 50%;
    text-align: center;

    margin-block: 5px;
}
a {
    text-decoration: none;
    color: white;

    font-size: 22px;
}



/* TABLE DIV */
.table-section {
    display: flex;
    width: 100%;
    justify-content: center;
}
.table-div {
    display: flex;
    width: 90%;
    justify-content: center;
}
table {
    width: 100;
    text-align: center;
    font-size: 20px;
}
tbody tr {
    height: 32px;
}
tbody td {
    cursor: pointer;
}