body {
    margin: 0;
    font-family: sans-serif;
    height: 100dvh;

    background: rgb(22, 2, 31);
    background: linear-gradient(180deg,rgba(0, 0, 0, 1) 0%, rgb(24, 3, 58) 50%, rgb(4, 7, 71) 100%);
}

.main-header {
    display: flex;
    align-items: center;
    width: 100%;
    color: white;
    /* background-color: black; */
}
.button-area {
    width: 30px;
    height: 30px;
}
.img-div {
    background-image: url(/static/css/imgs/back.png);
    background-size: cover;
    width: 30px;
    height: 30px;
}
h1 {
    color: white;
    margin-left: 15px;
}


/* SEARCHER DIV */
.searcher-div {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
#item-srch {
    margin-inline: 15px;
}


/* LIST SECTION */
.list-main-section {
    flex-direction: column;
    width: 100%;
    /* height: 600px;
    margin-left: 5px; */
    /* background-color: red; */
}
#list-title {
    width: 100%;
    text-align: center;
}
.list-section {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 550px;
    overflow-y: scroll;
    /* background-color: red; */
}


/* NAME DATA */
.name-data {
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}
.col-data{
    display: flex;
    width: 95%;
}
.col-name-1 {width: 28%; text-align: center; font-weight: bold;}
.col-name-2 {width: 72%; text-align: center; font-weight: bold;}


/* LIST */
.table-2 {
    width: 95%;
    color: white;
    border-collapse: collapse;
    border-radius: 5px;
}

.table-2 tr {
    height: 40px;
}
.ltd-1 {
    width: 20%;
    text-align: center;
}
.ltd-2 {
    width: 55%;
    text-align: center;
    cursor: pointer;
}
.ltd-3 {
    display: flex;
    justify-content: center;
    width: 100%;

    /* background-color: gray; */
}
.ltd-3 p {
    display: flex;
    width: 40px;
    height: 30px;
    align-items: center;
    justify-content: center;
    margin-block: 2px;

    color: white;
    background-color: blue;
    border-radius: 8px;

    font-weight: bold;
    cursor: pointer;
}



/* radio buttons */
.radio-div {
    display: inline-flex;
    /* width: 200px; */
    overflow: hidden;
    border-radius: 7px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.radio-input {
    display: none;
}
.radio-label {
    width: 40px;
    text-align: center;
    padding: 8px 14px;
    font-size: 12px;
    font-family: sans-serif;
    color: white;
    background: rgba(255, 255, 255, 0.349);
    cursor: pointer;
    transition: background 0.1s;
}
.radio-label:not(:last-of-type) {
    border-right: 1px solid gray;
}
.radio-input:checked + .radio-label {
    color: white;
    background: #5e79ff;
    background: radial-gradient(circle,rgba(94, 121, 255, 1) 34%, rgba(140, 70, 252, 1) 100%);
    border: 1px solid white;
}

/* radio 2 (edit-window)*/
.radio-input2 {
    display: none;
}
.radio-label2 {
    width: 40px;
    text-align: center;
    padding: 8px 14px;
    font-size: 12px;
    font-family: sans-serif;
    color: white;
    background: rgba(255, 255, 255, 0.349);
    cursor: pointer;
    transition: background 0.1s;
}
.radio-label2:not(:last-of-type) {
    border-right: 1px solid gray;
}
.radio-input2:checked + .radio-label2 {
    color: white;
    background: #5e79ff;
    background: radial-gradient(circle,rgba(94, 121, 255, 1) 34%, rgba(140, 70, 252, 1) 100%);
    border: 1px solid gold;
}