body {
    margin: 0;
    font-family: sans-serif;
}

.main-header {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: black;
}
.button-area {
    width: 30px;
    height: 30px;
}
.img-div {
    background-image: url(/static/css/imgs/back.png);
    background-size: cover;
    width: 30px;
    height: 30px;
}
h1 {
    color: white;
    margin-left: 15px;
}


/* SEARCHER DIV */
.searcher-div {
    display: flex;
    align-items: center;
    margin-top: 20px;
}
#item-srch {
    margin-inline: 15px;
}


/* LIST SECTION */
.list-main-section {
    flex-direction: column;
    width: 100%;
    /* height: 600px;
    margin-left: 5px; */
    /* background-color: red; */
}
#list-title {
    width: 100%;
    text-align: center;
}
.list-section {
    width: 100%;
    height: 550px;
    overflow-y: scroll;
}
.table-2 tbody tr:nth-child(even) {
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250,250,250) 0%, rgb(228, 228, 228) 90%);
}
/* LIST */
.table-2 {
    width: 100%;
}
.table-2 th{
    background-color: black;
    color: white;
}
.table-2 tr {
    height: 40px;
}
.ltd-1 {
    width: 20%;
    text-align: center;
}
.ltd-2 {
    width: 55%;
    text-align: center;
    cursor: pointer;
}
.ltd-3 {
    display: flex;
    justify-content: center;
    width: 100%;

    /* background-color: gray; */
}
.ltd-3 p {
    display: flex;
    width: 40px;
    height: 30px;
    align-items: center;
    justify-content: center;
    margin-block: 2px;

    color: white;
    background-color: blue;
    border-radius: 8px;

    font-weight: bold;
    cursor: pointer;
}



/* radio buttons */
.radio-div {
    display: inline-flex;
    /* width: 200px; */
    overflow: hidden;
    border-radius: 7px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.radio-input {
    display: none;
}
.radio-label {
    width: 40px;
    text-align: center;
    padding: 8px 14px;
    font-size: 12px;
    font-family: sans-serif;
    color: black;
    background: rgba(255, 255, 255, 0.349);
    cursor: pointer;
    transition: background 0.1s;
}
.radio-label:not(:last-of-type) {
    border-right: 1px solid gray;
}
.radio-input:checked + .radio-label {
    background: black;
    color: white;
}

/* radio 2 (edit-window)*/
.radio-input2 {
    display: none;
}
.radio-label2 {
    width: 40px;
    text-align: center;
    padding: 8px 14px;
    font-size: 12px;
    font-family: sans-serif;
    color: black;
    background: rgba(255, 255, 255, 0.349);
    cursor: pointer;
    transition: background 0.1s;
}
.radio-label2:not(:last-of-type) {
    border-right: 1px solid gray;
}
.radio-input2:checked + .radio-label2 {
    background: black;
    color: white;
}