body {
    margin: 0px;
    font-family: sans-serif;
    height: 100dvh;

    background-image: url(/static/css/imgs/mountain.jpg);
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(2.5px);
}
/* HEADER */
.main-header {
    display: flex;
    align-items: center;
    height: 50px;
    color: white;
}
.img-back {
    background-image: url(/static/css/imgs/blackback.png);
    background-size: cover;
    background-position: center;
    width: 30px;
    height: 30px;
}


/* TITLE */
.main-title {
    margin-left: 15px;
    margin-bottom: 20px;
}
h1 {
    color: white;
}


h2 {
    display: none;
}


/* MAIN DIV */
.main-div {
    display: flex;
}


/* NAME DATA */
.name-data {
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    background-color: black;
    border-bottom: 1px solid gray;
}
.col-data{
    display: flex;
    width: 95%;
}
.col-name-1 {width: 28%; text-align: center; font-weight: bold;}
.col-name-2 {width: 72%; text-align: center; font-weight: bold;}


/* LIST SECTION */
.list-main-section {
    flex-direction: column;
    width: 60%;
    height: 600px;
    /* margin-left: 5px; */
    /* background-color: red; */
}
#list-title {
    width: 100%;
    text-align: center;
}
.list-section {
    width: 100%;
    height: 550px;
    overflow-y: scroll;
    scrollbar-color: rgba(128, 128, 128, 0.192) transparent;
}

/* LIST */
.table-2 {
    width: 100%;
    color: white;
}
.table-2 th{
    background-color: black;
    color: white;
}
.table-2 tr {
    height: 40px;
}
.table-2 tr:nth-child(even) {
    background-color: rgba(209, 209, 209, 0.357);
}
.ltd-1 {
    width: 20%;
    text-align: center;
}
.ltd-2 {
    width: 55%;
    text-align: center;
    cursor: pointer;
}
.ltd-3 {
    display: flex;
    justify-content: center;
    width: 100%;

    /* background-color: gray; */
}
.ltd-3 p {
    display: flex;
    width: 40px;
    height: 30px;
    align-items: center;
    justify-content: center;
    margin-block: 2px;

    color: white;
    background-color: blue;
    border-radius: 8px;

    font-weight: bold;
    cursor: pointer;
}



/* radio buttons */
.radio-div {
    display: inline-flex;
    /* width: 200px; */
    overflow: hidden;
    border-radius: 7px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}
.radio-input {
    display: none;
}
.radio-label {
    width: 40px;
    text-align: center;
    padding: 8px 14px;
    font-size: 12px;
    font-family: sans-serif;
    color: black;
    background: rgba(201, 201, 201, 0.349);
    cursor: pointer;
    transition: background 0.1s;
}
.radio-label:not(:last-of-type) {
    border-right: 1px solid gray;
}
.radio-input:checked + .radio-label {
    color: white;
    background-color: black;
    border: 1px solid black;
}

/* radio 2 (edit-window)*/
.radio-input2 {
    display: none;
}
.radio-label2 {
    width: 40px;
    text-align: center;
    padding: 8px 14px;
    font-size: 12px;
    font-family: sans-serif;
    color: black;
    background: rgba(201, 201, 201, 0.349);
    cursor: pointer;
    transition: background 0.1s;
}
.radio-label2:not(:last-of-type) {
    border-right: 1px solid gray;
}
.radio-input2:checked + .radio-label2 {
    color: white;
    background-color: black;
    border: 1px solid black;
}


/* LIGHT DIV */
.light-div {
    display: flex;
    justify-content: center;
    width: 90%;
    height: 410px;
    overflow-y: scroll;
    scrollbar-color: rgba(128, 128, 128, 0.192) transparent;

    margin-block: 3px;
    
    border-radius: 5px;
    background: rgba(177, 177, 177, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}
/* .light-div::before {
    content: "";
    position: absolute;
    display: flex;
    justify-content: center;
    width: 900px;
    height: 900px;
    background-image: conic-gradient(transparent, transparent ,orange,
        transparent, transparent, orangered, transparent);
    animation: rotar 2s linear infinite;
}

@keyframes rotar {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
} */


/* TABLE 1 */
.table-main-sections {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40%;

    /* background-color: gray; */
}
.table-div {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 5px;
}
.table-1 {
    width: 100%;
    text-align: left;
    border-spacing: 0;
    color: white;

    /* margin-block: 3px;
    border-radius: 5px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 ); */

    z-index: 1;
}
.table-1 th {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    color: white;
}
.table-1 tr {
    display: flex;
    height: 40px;
}
.table-1 .td-0 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0%;
    color: transparent;
}
.table-1 .td-1 {
    display: flex;
    width: 70%;
    justify-content: center;
    align-items: center;
}
.table-1 .td-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 34px;
    margin: 0;
}
.table-1 .td-3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15%;
    height: 34px;
    margin: 0;
}
/* OPTION BUTTONS */

.edit-img {
    width: 25px;
    height: 25px;
    background-image: url(/static/css/imgs/boton-editar.png);
    background-size: cover;
    background-position: center;

    border-radius: 5px;
    background-color: rgb(0, 161, 0);
    border: 1px solid white;

    cursor: pointer;
}
.trash-img {
    width: 25px;
    height: 25px;
    background-image: url(/static/css/imgs/basura.png);
    background-size: cover;
    background-position: center;

    border-radius: 5px;
    background-color: red;
    border: 1px solid white;

    cursor: pointer;
}


/* BUTTON AREA */
.btn-section {
    display: flex;
    width: 360px;

    /* background-color: red; */
}
.btn-section div {
    display: flex;
    justify-content: center;
    width: 50%;
}
.changeBtn {
    width: 90%;
    height: 30px;
    border-radius: 5px;
}
#save-btn {
    background-color: black;
    color: white;
    font-weight: bold;

    cursor: pointer;
    border: 1px solid black;
}
#delet-btn {
    background-color: red;
    color: white;
    font-weight: bold;

    cursor: pointer;
    border: 1px solid black;
}


/* SEARCHER DIV */
.searcher-div {
    display: flex;
    align-items: center;
    margin-top: 28px;
}
#item-srch {
    margin-inline: 15px;
}


/* MAIN EDIT WINDOW */
.close-edit-window {
    display: flex;
    justify-content: center;
    width: 100%;

}
.close-area {
    display: flex;
    justify-content: right;
    width: 95%;



}
#close-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    margin-block: 5px;

    background-color: red;
    border-radius: 50%;

    cursor: pointer;
}
#close-img p {
    color: white;
    font-weight: bold;
    font-size: 22px;
    margin: 0;
}

.song-changed-div{
    display: flex;
    justify-content: center;
    width: 100%;
}
#song-changed {
    width: 50%;
}


.main-edit-window {
    /* position: fixed;
    top: 0;
    left: 0; */
    
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;

    background: rgb(69, 116, 128);
}
h4 {
    color: black;
}
.edit-window {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;

    /* background-color: red; */
}
.edit-menu-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 90%;

    /* background-color: green; */
}
.edit-buttons {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-block: 10px;
}
.edit-buttons button {
    width: 200px;
    border-radius: 5px;

    color: white;
    background-color: black;
}









@media (max-width:1140px), (max-height:720px) {
    .table-main-sections {
        width: 100%;
    }
    .table-div {
        width: 90%;
    }

    .searcher-div {
        justify-content: center;
        width: 100%;
    }
    .list-main-section {
        width: 100%;
    }
    .list-section {
        height: 450px;
    }
}

@media (max-width:720px) {
    .main-div {
        flex-direction: column;
    }
}








/* MOBILE VERSION */
@media (max-width:650px) {
    body {
        background: transparent;
        background: transparent;

        margin: 0;

        /* background-color: rgb(69, 116, 128); */
        background-image: url(/static/css/imgs/mountain.jpg);
        background-size: cover;
        background-position: center;
        backdrop-filter: blur(2.5px);
    }


    /* title */
    .main-title {
        text-align: center;
    }

    /* main div */
    .main-div {
        flex-direction: column;
    }


    /* list section */
    .list-main-section {
        width: 100%;
        margin-top: 15px;
        margin-left: 0;
    }
    .list-section {
        height: 270px;
    }


    .light-div {
        height: 200px;
    }


    /* table */
    .table-main-sections {
        justify-content: center;
        width: 100%;
    }
    .table-div {
        display: flex;
        justify-content: center;
        width: 100%;

        /* background-color: red; */
    }
    .table-1 {
        width: 98%;
        text-align: center;
        /* background-color: black; */
    }
    .btn-section {
        display: flex;
        width: 100%;
    }
    #edit-btn {
        font-size: 14px;
    }
    #oneDelet-btn {
        font-size: 14px;
    }

    .edit-menu-area {
        width: 100%;
    }

    #song-changed {
        width: 80%;
    }
}