<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    <title>Home</title>
</head>
<body>


    <div class="first-ball"></div>
    <div class="second-ball"></div>

    <div class="main-div">
        <div class="main-header">
            <div class="theme-div">
                <h1>Grupo de alabanza </h1>
                <div class="menu-img-section">
                    <div class="menu-section">
                        <input type="checkbox" id="checks-1" checked hidden>
                        <input type="checkbox" id="checks-2" hidden>
                        <div class="img-menu" id="img-menu" onclick="myChecked()"></div>
                    </div>
                </div>
            </div>
            <div class="group-name">
                <hr class="theme-line">
                <p>Et Ratzon</p>
            </div>
            
            <div class="options-div">
                <div class="menu-option">
                    <a href="{{ url_for('search') }}">Himnario</a>
                </div>
                <div class="menu-option">
                    <a href="{{ url_for('selector') }}">Selección</a>
                </div>
            </div>
        </div>

        <br>

        <div class="tablet-main-menu">
            <div class="tablet-menu-space">
                <div class="tablet-card-1">
                    <div class="img-tablet-1"></div>
                    <a href="{{ url_for('search') }}">
                        <div class="tablet-hyper-vin">
                            <p>Himnario</p>
                        </div>
                    </a>
                </div>
                <div class="tablet-card-2">
                    <div class="img-tablet-2"></div>
                    <a href="">
                        <div class="tablet-hyper-vin">
                            <p>Acordes</p>
                        </div>
                    </a>
                </div>
                <div class="tablet-card-3">
                    <div class="img-tablet-3"></div>
                    <a href="{{ url_for('selector') }}">
                        <div class="tablet-hyper-vin">
                            <p>Editar</p>
                        </div>
                    </a>
                </div>
            </div>
        </div>

        <h4 class="program-msg">Programa general</h4>
        <div class="table-section">
            <div>
                <form action="/song" method="post" id="myHomeMethod">
                    <input type="text" name="songInput" id="songInput" hidden>
                </form>
            </div>
            <div class="table-div">
                <table>
                    <!-- <th class="table-head" colspan="2"></th> -->
                    <tbody>
                        {% for x in canciones %}
                            <tr>
                                {% if x[0] == "Bienvenida" or x[0] == "Especial" or x[0] == "Predicación" or x[0] == "Acción de gracias" or x[0] == "Otro" or x[0] == "Diezmo y ofrenda" %}
                                    <td>
                                        <div class="element-td">
                                            <div id="nums-counter">{{ loop.index }}</div>
                                            <div style="font-weight: bold; color: white; font-size: 17px;">{{ x[0] }} *</div>
                                        </div>
                                    </td>
                                {% else %}
                                    <td>
                                        <div class="element-td">
                                            <div id="nums-counter">{{ loop.index }}</div>
                                            <div onclick="searchClick(this)">{{ x[0] }}</div>
                                        </div>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="circle-menu-div" id="circle-menu-div">
                <div class="circle-options-div">
                    <div class="menu-circle-option">
                        <a href="{{ url_for('search') }}" id="ball-1">
                            <div class="img-option" id="box-1">
                                <div id="book"></div>
                            </div>
                        </a>
                    </div>
                    <div class="menu-circle-option">
                        <a href="" id="ball-2">
                            <div class="img-option" id="box-2">
                                <div id="music"></div>
                            </div>
                        </a>
                    </div>
                    <div class="menu-circle-option">
                        <a href="{{ url_for('selector') }}" id="ball-3">
                            <div class="img-option" id="box-3">
                                <div id="plus"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <footer>
        <div class="main-footer">
            <div class="footer-title">
                <p>בראשית ברא אלהים</p>
            </div>
        </div>
    </footer>
</body>

<script>
    function searchClick(x) {
        let myInput = document.getElementById('songInput');
        let myForm = document.getElementById('myHomeMethod');
        let myItem = x.innerText.toLocaleLowerCase();

        myInput.value = myItem;

        myForm.submit();
    }


    function myChecked() {
        // check inputs
        let check_1 = document.getElementById('checks-1');
        let check_2 = document.getElementById('checks-2');
        // balls
        let ball1 = document.getElementById('ball-1');
        let ball2 = document.getElementById('ball-2');
        let ball3 = document.getElementById('ball-3');
        // shadows
        let bx1 = document.getElementById('box-1');
        let bx2 = document.getElementById('box-2');
        let bx3 = document.getElementById('box-3');


        if (check_1.checked == true) {
            // ball 1
            ball1.style.transform = "translateY(0px)";
            ball1.style.transition = "0.3s ease";
            ball1.style.zIndex = "100";

            // ball 2
            ball2.style.transform = "translateY(0px)";
            ball2.style.transition = "0.4s ease";
            ball2.style.zIndex = "100";

            // ball 3
            ball3.style.transform = "translateX(0px)";
            ball3.style.transition = "0.5s ease";
            ball3.style.zIndex = "100";

            check_2.checked = true;
            check_1.checked = false;

            setTimeout(function() {
                bx1.style.boxShadow = '0 0 10px rgba(255, 255, 255, 1)';
            }, 500);
            setTimeout(function() {
                bx2.style.boxShadow = '0 0 10px rgba(255, 255, 255, 1)';
            }, 600);
            setTimeout(function() {
                bx3.style.boxShadow = '0 0 10px rgba(255, 255, 255, 1)';
            }, 700);
        }
        else {
            setTimeout(function() {
                bx3.style.boxShadow = '0 0 0 transparent';
            }, 300);
            setTimeout(function() {
                bx2.style.boxShadow = '0 0 0 transparent';
            }, 400);
            setTimeout(function() {
                bx1.style.boxShadow = '0 0 0 transparent';
            }, 500);
            
            setTimeout(function(){
                // ball 1
                ball1.style.transform = "translateY(-215px)";
                ball1.style.transition = "0.5s ease";

                // ball 2
                ball2.style.transform = "translateY(-315px)";
                ball2.style.transition = "0.4s ease";

                // ball 3
                ball3.style.transform = "translateY(-415px)";
                ball3.style.transition = "0.3s ease";

                check_2.checked = false;
                check_1.checked = true;
            },650);
        }
    }    
</script>

</html>