<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
    <title>Home</title>
</head>
<body>

    <div class="first-ball"></div>
    <div class="second-ball"></div>

    <div class="main-div">
        <div class="main-header">
            <div class="theme-div">
                <h1>Grupo de alabanza</h1>
            </div>
            <div class="group-name">
                <hr class="theme-line">
                <p>Et Ratzon</p>
            </div>
            
            <div class="options-div">
                <div class="menu-option">
                    <a href="{{ url_for('search') }}">Himnario</a>
                </div>
                <div class="menu-option">
                    <a href="{{ url_for('selector') }}">Selección</a>
                </div>
            </div>
        </div>

        <!-- <div class="separate">
            <hr>
        </div> -->

        <br>

        <h4 class="program-msg">Programa</h4>
        <div class="table-section">
            <div>
                <form action="/song" method="post" id="myHomeMethod">
                    <input type="text" name="songInput" id="songInput" hidden>
                </form>
            </div>
            <div class="table-div">
                <table>
                    <!-- <th class="table-head" colspan="2"></th> -->
                    <tbody>
                        {% for x in canciones %}
                            <tr>
                                {% if x[0] == "Bienvenida" or x[0] == "Especial" or x[0] == "Predicación" or x[0] == "Acción de gracias" or x[0] == "Otro" %}
                                    <td>
                                        <div class="element-td">
                                            <div id="nums-counter">{{ loop.index }}. </div>
                                            <div style="font-weight: bold; color: white; font-size: 17px;">{{ x[0] }}</div>
                                        </div>
                                    </td>
                                {% else %}
                                    <td>
                                        <div class="element-td">
                                            <div id="nums-counter">{{ loop.index }}. </div>
                                            <div onclick="searchClick(this)">{{ x[0] }}</div>
                                        </div>
                                    </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>

            <div class="circle-menu-div">
                <div class="circle-options-div">
                    <div class="menu-circle-option">
                        <a href="{{ url_for('search') }}">
                            <div class="img-option">
                                <div id="book"></div>
                            </div>
                        </a>
                    </div>
                    <div class="menu-circle-option">
                        <a href="">
                            <div class="img-option">
                                <div id="music"></div>
                            </div>
                        </a>
                    </div>
                    <div class="menu-circle-option">
                        <a href="{{ url_for('selector') }}">
                            <div class="img-option">
                                <div id="plus"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <footer>
        <div class="main-footer">
            <div class="footer-title">
                <p>בְּרֵאשִׁית בָּרָא אֱלֹהִים</p>
            </div>
            <!-- <div class="social-div">
                <div class="social">
                    <a href="">
                        <div id="social-img-1"></div>
                    </a>
                </div>
                <div class="social">
                    <a href="">
                        <div id="social-img-2"></div>
                    </a>
                </div>
            </div> -->
        </div>
    </footer>
</body>

<script>
    function searchClick(x) {
        let myInput = document.getElementById('songInput');
        let myForm = document.getElementById('myHomeMethod');
        let myItem = x.innerText.toLocaleLowerCase();

        myInput.value = myItem;

        myForm.submit();
    }
</script>

</html>